

$primary-color: #2FD4C9;
$primary-color-dark: #2CD0C6;
$background-color: #fff;
$background-color-dark: #F5F6FA;
$background-color-reverse: #202020;
$background-color-reverse-dark: #181818;
$paragraph-color: #596080;
$text-color: #000;
$text-color-reverse: #fff;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand','Rubik', sans-serif;
    
}

body{
    color: $text-color;
    font-size: 1.5rem;
    font-weight: 575;
    cursor: url(../assets/cursor.png), auto;
    background: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background: $background-color;
    box-shadow: 0 .5rem 1rem 0 $background-color-dark;
    z-index: 5;
    position: fixed;
    top: 0;
    ul{
        list-style: none;
        display: flex;
        li{
            padding: 0 2rem;
            animation: zoomin 1s ease;
        }
    }
    img{
        width: 3.5rem;
        margin: 0 2rem;
        display: none;
    }
    .active{
        color: $primary-color;
        &:hover{
            color: $primary-color-dark;
        }
    }
}

@media(max-width:800px)
{
    nav{
        z-index: 7;
        padding: 1rem;
        ul{
            transition: .5s;
            top: -100%;
            
            width: 100%;
            position: fixed;
            flex-direction: column;
            background: $background-color;
            padding: 1rem;
            box-shadow: 0 .1rem .1rem 0 $background-color-dark;
            li{
                padding: .5rem 2rem;
            }
        }
        img{
            display: inline;
        }
    }
    #navLinks{
        z-index: 3;
    }
}

.logo{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    padding: 0 2rem;
}
// .special{
//     background: $primary-color;
//     padding: 1rem;
//     border-radius: .5rem;
//     color: $text-color-reverse;
//     border: 1px solid $primary-color;
//     &:hover{
//         transition: .5s;
//         border: 1px solid $primary-color;
//         background: transparent;
//     }
    
// }

a{
    text-decoration: none;
    color: $text-color;
    cursor: url(../assets/cursor.png), auto;
    &:hover{
        color: $primary-color;
    }
}

.bodysizer{
    width: 90%;
}
@media(max-width: 800px)
{
    .bodysizer{
      width: 100%;
    padding: 2rem;  
    }
    
}

.linkbuttons{
    a{
        padding: 1.5rem 2rem;
        background: $primary-color;
        margin-right: 2rem;
        color: $text-color-reverse;
        border-radius: .5rem;
        transition: .3s;
    }
    .primarybtn{
        border: 1px solid $primary-color;
        &:hover{
            background: transparent;
            color: $primary-color;
        }
    }
    .secondarybtn{
        border: 1px solid $primary-color;
        background: transparent;
        color: $primary-color;
        &:hover{
            background: $primary-color;
            color: $text-color-reverse;
        }
    }
}

//Home section
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    .sociallinks{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 5%;
        img{
            width: 3rem;
            
        }
    }
    .homecontent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 90%;
        height: 100vh;
        .homedescription{
            flex-basis: 50%;
            width: 100%;
            h1{
                margin-bottom: 1rem;
            }
            h4{
                margin-bottom: 4rem;
            }
        }
        img{
            flex-basis: 40%;
            width: 100%;
            height: 85%;    
            object-fit: contain;
            align-self: flex-end;
        }
    }
    .first{
        animation: fadein1s 7s step-end;
    }
    .second{
        animation: fadein2s 7s step-end; 
    }
    .secondimg{
        animation: imagetranslate 7s ease;
    }
    .third{
        animation: textpop 7s ease;
    }
    .fourth{
        animation: buttonanimation 7s ease;
    } 
    .fifth{
        animation: topbottom 7s ease;
    } 
    
}
@media(max-width:800px)
{
    .home{
        flex-direction: column-reverse;
        justify-content: center;
        .sociallinks{
            width: 70%;
            margin-top: 2rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            a{
              padding: 0 1rem;
              
            }
            
        }
        .homecontent{
            flex-direction: column-reverse;
            justify-content: center;
            flex-basis: 50%;
            height: 80vh;
            .homedescription{
                flex-basis: 40%;
                h1{
                    font-size: 5.5rem;
                }
                h4{
                    font-size: 3rem;
                }
                
            }
            img{
                height: 40vh;
                width: 100%;
                object-fit: scale-down;
                justify-self: center;
                align-self: center;
            }
        }
    }
}

//about section
.about{
    
}
@keyframes topbottom{
    0%{
        transform: translateY(-5rem);
        opacity: 0;
    }
    56%{
        transform: translateY(-5rem);
        opacity: 0;
    }
    70%{
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes buttonanimation{
    0%{
        transform: translateY(5rem);
        opacity: 0;
    }
    56%{
        transform: translateY(5rem);
        opacity: 0;
    }
    70%{
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes textpop{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    42%{
        transform: scale(0);
        opacity: 0;
    }
    56%{
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes imagetranslate{
    0%{
        opacity: 0;
        transform: translateX(5rem);
    }
    28%{
        opacity: 0;
        transform: translateX(5rem);
    }
    42%{
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes fadein1s{
    0%{
        opacity: 0;
    }
    14%{
        opacity: 100%;
    }
}
@keyframes fadein2s{
    0%{
            opacity: 0;
    }
    28%{
            opacity: 100%;
    }
}

@keyframes zoomin{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

h1{
    font-size: 7rem;
    font-weight: 700;
}
h2{
    font-size: 6rem;
    font-weight: 675;
}
h3{
    font-size: 5rem;
    font-weight: 650;
}
h4{
    font-size: 4rem;
    font-weight: 625;
}
h5{
    font-size: 3rem;
    font-weight: 600;
}
h6{
    font-size: 2rem;
    font-weight: 575;
}
p{
    font-size: 1.5rem;
    font-weight: 500;
    color: $paragraph-color;
}



@media(max-width: 2180px)
{
   html{
    font-size: 75%;
} 
}
@media(max-width: 1440px)
{
   html{
    font-size: 62.5%;
} 
}
@media(max-width: 800px)
{
   html{
    font-size: 55%;
} 
}
